<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receiver view</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .dead {color: gray;}
        .green {color: darkgreen;}
        .red {color: red;}
    </style>
</head>
<body>
    <div style="margin-top: 10em; margin-left: 8em; margin-right: 8em;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 center-block">
                    <center>
                        <i class="material-icons-outlined dead" id="light1" style="font-size: 150px;">lightbulb</i>
                    </center>
                </div>
                <div class="col-lg-6 center-block">
                    <center>
                        <i class="material-icons-outlined dead" id="light2" style="font-size: 150px;">lightbulb</i>
                    </center>
                </div>
            </div>
        </div>
        <audio id="yesAudio">
            <source src="/static/yes.mp3" type="audio/mpeg">
        </audio>
        <audio id="noAudio">
            <source src="/static/wrong.mp3" type="audio/mpeg">
        </audio>
    </div>

    <script>
        const socket = io({autoConnect: true});

        socket.on("status", function(data) {
            const status = data["status"]

            document.getElementById("light1").className = "material-icons-outlined dead";
            document.getElementById("light2").className = "material-icons-outlined dead";

            if (status === "yes") {
                document.getElementById("light1").className = "material-icons green";
                document.getElementById("yesAudio").play();
            } else {
                document.getElementById("light2").className = "material-icons red";
                document.getElementById("noAudio").play();
            }

            setTimeout(function() {
                document.getElementById("light1").className = "material-icons-outlined dead";
                document.getElementById("light2").className = "material-icons-outlined dead";
            }, 3500)
        })
    </script>
</body>
</html>